#area {
	float: right;
	position: relative;
	top: 10px;
	right: 10px;
}
#box {
	border: thin solid #CCC;
	padding: 4px;
}
#headerbar{
    width: 80%;
    top:0px;
    left:120px;
    position: fixed;
    background-color: #cccccc;
    height:60px;
    -moz-border-radius-bottomright: 10px;
border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
border-bottom-left-radius: 10px;
}
#container {
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: dotted;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-left-style: dotted;
	padding: 20px;
	width: auto;
       position:absolute;

        top:110px;
        left:320px;
}
#logout {
 height: 18px;
 width: 20px;
  background-image: url("../images/layout-s5ea64f90ae.png");
  background-repeat:  no-repeat;
  background-position: 0px -18px;
  right: 10px;
   position: absolute;
}
#logout:hover {
    height: 18px;
 width: 20px;
  background-image: url("../images/layout-s5ea64f90ae.png");
  background-repeat:  no-repeat;
  background-position: 0px -36px;
  right: 10px;
   position: absolute;

    
}

.headerbarlist{

    margin-top: 20px;
    
}
